# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\tfm\Context_broker\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
